.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login {
    margin-right: 10px;
    font-size: 14px;
}